.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.item {
    flex: 1;
    text-align: center;
}

.item {
    margin-bottom: 1em;
}

.value {
    font-size: 1.5em;
}